@model Entities.Brand

@{
    ViewData["Title"] = "Yeni Ekle";
}

<h1>Yeni Ekle</h1>

<h4>Marka Bilgileri</h4>
<hr />
<div class="row">
    <h6>Mvc de resim yükleteceğimiz form elementine  enctype="multipart/form-data" attribute unu eklememiz gerekir!</h6>
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" type="file" /> Resim yüklemek için inputa type="file" attribute unu ekliyoruz.
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripton" class="control-label"></label>
                <textarea asp-for="Descripton" class="form-control"></textarea>
                <span asp-validation-for="Descripton" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

